/*WEB FONTS _______________________*/
@font-face {
    font-family: noto-kufi;
    src: url("https://db.onlinewebfonts.com/t/8370b4cb6710362933e78e96fdaaf1f3.eot");
    src: url("https://db.onlinewebfonts.com/t/8370b4cb6710362933e78e96fdaaf1f3.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/8370b4cb6710362933e78e96fdaaf1f3.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/8370b4cb6710362933e78e96fdaaf1f3.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/8370b4cb6710362933e78e96fdaaf1f3.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/8370b4cb6710362933e78e96fdaaf1f3.svg#Noto Kufi Arabic")format("svg");
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-family: "CodeNewRomanNerdFontMono", cantarell, sans-serif; */
    font-family:  noto-kufi, "Noto Kufi Arabic";
}
body {
    background: #dadada;
    display: flex;
    flex-flow: row nowrap;
    min-height: 100vh;
    gap: 3em;
}
#_wraper {
    max-width: 75%;
    /* border: .5em purple solid; */
   margin: 0 auto;
    padding-block: .9em;
    padding-inline: .9em;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
}
#_aside {
    width: 20%;
    padding: .5em;
    display: flex;
    flex-flow: column wrap;
    background-color: #fff;
    color: #333;
    flex-grow: .5;
}


#_header {
    text-align: left;
    /* padding: 5px; */
    display: flex;
    justify-content: space-between;
    border-bottom: .2em solid lightblue;
    /* margin-inline: .3em; */
}
#_header h2 {
    background-color: lightblue;
    color: #fff;
    padding-inline: .2em;
}
nav {
    display: flex;
    align-items: center;
}
ul {
    display: flex;
    gap: 1.05em;
    list-style-type: none;
}
nav ul a { 
    text-decoration: none;
    display: block;
    height: 100%;
    align-items: center;
}
ol {
    list-style-position: inside;
}
ol h2 {display: inline-block;}
ol li::marker {font-size: 1.3em;}

#_main {
    margin-block: 1rem;
    flex-grow: 1;
    /* border: .5em double lightblue; */
    /* padding-inline: .9em; */
    /* margin-inline: .3em; */
}
#_footer {
    text-align: center;
    padding-inline: .9em;
    border-top: .2em solid lightblue;
}
