<div id="__logo"></div>
<label for="hamBtn" class="hamLabel">
  <input type="checkbox" name="hamCheck" id="hamBtn">
</label>
<nav class="navbar">
<ul class="navList">
  <li class="navItems"><a href="/" class="navLinks">{{ .Site.Params.homepage_name }}</a></li>
  <li class="navItems"><a href="/posts" class="navLinks">{{ .Site.Params.posts_name }}</a></li>
  <li class="navItems"><a href="/about" class="navLinks">{{ .Site.Params.about_name }}</a></li>
  <li class="navItems"><a href="/others" class="navLinks">{{ .Site.Params.others_name }}</a></li>
</ul>
</nav>